@{
    ViewData["Title"] = "Home Page";
}

@model User
<div class="mx-auto mt-5">
    <form class="border shadow p-5" action="success" method="POST">
        <div class="row">
            <h1 class="text-left mb-4">Enter your Information</h1>
            @* Name *@
            <div class="row justify-content-between my-3">
                <label class="col-4" asp-for="Name">First Name:</label>
                <input class="col-4" asp-for="Name">
                <span class="text-end" asp-validation-for="Name"></span>
            </div>
            @* Lastname *@
            <div class="row justify-content-between my-3">
                <label class="col-4" asp-for="Lastname">Last Name:</label>
                <input class="col-4" asp-for="Lastname">
                <span class="text-end" asp-validation-for="Lastname"></span>
            </div>
            @* Age *@
            <div class="row justify-content-between my-3">
                <label class="col-4" asp-for="Age">Age:</label>
                <input class="col-4" asp-for="Age" type="number">
                <span class="text-end" asp-validation-for="Age"></span>
            </div>
            @* Email *@
            <div class="row justify-content-between my-3">
                <label class="col-4" asp-for="Email">Email Address:</label>
                <input class="col-4" asp-for="Email" type="email">
                <span class="text-end" asp-validation-for="Email"></span>
            </div>
            @* Password *@
            <div class="row justify-content-between my-3">
                <label class="col-4" asp-for="Password">Password:</label>
                <input class="col-4" asp-for="Password" type="password">
                <span class="text-end" asp-validation-for="Password"></span>
            </div>
            <div class="row justify-content-end my-5">
                <input class="btn btn-primary col-2 fw-bold" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
