@{
    ViewData["Title"] = "Success Page";
}

@model User
<div class="text-center mt-5">
    <h1>Successfully registered, @Model.Name @Model.Lastname</h1>
    <div class="row justify-content-end my-5">
        <input id="backBtn" onclick="Redirect()" class="btn btn-primary col-2 fw-bold" type="submit" value="Back">
    </div>
</div>